{% extends 'base.html.twig' %}

{% block title %}Ввод email{% endblock %}

{% block body %}
    <section class="hero hero-center">
        <div class="form-box">
            {{ form_start(form) }}

            {# Глобальные ошибки формы #}
            {{ form_errors(form) }}

            {# Поле email + его ошибки #}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}

            {{ form_widget(form.submit) }}

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
