{% extends 'base.html.twig' %}

{% block title %}Ввод кода{% endblock %}

{% block body %}
    <section class="hero hero-center">
        <div class="otp-box">
            {# Последняя ошибка Security (из authenticator) #}
            {% if last_auth_error %}
                <div class="form-error auth-error">
                    {{ last_auth_error.messageKey|trans(last_auth_error.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_errors(form.otp) }}
                {{ form_widget(form.otp) }}
                {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
