{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero hero-center">

        <div class="status-container">

            <table class="status-table">
                <thead>
                <tr>
                    <th>ЗАЯВКА</th>
                    <th>ФАЙЛЫ</th>
                    <th>ДАТА ПОДАЧИ</th>
                    <th>СОСТОЯНИЕ</th>
                    <th class="text-center">ДЕЙСТВИЯ</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td class="text-truncate" style="max-width: 600px">
                            Заявка №{{ request.id }}
                            {% if not request.state is same as request.STATE_STEP1 %}
                                &mdash; "{{ request.applicationType.name }}"
                            {% endif %}
                        </td>
                        <td>
                            {% if request.files|length > 0 %}
                                <ul class="m-0 list-unstyled">
                                    {% for f in request.files %}
                                        <li>
                                            "<a href="{{ path('mfc_file_show', {id: f.id}) }}" target="_blank" rel="noopener" title="Открыть" class="text-reset">{{ f.originalName }}</a>
                                            <a href="{{ path('mfc_file_download', {id: f.id}) }}" target="_blank" title="Скачать" class="text-reset text-decoration-none"><i class="bi bi-download"></i></a>"
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td>
                            {% if request.state is same as request.STATE_DONE %}
                                {{ request.updatedAt|date('d.m.Y h:i', 'Europe/Moscow') }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td>
                            {% if request.state is same as request.STATE_DONE %}
                                Подано
                            {% else %}
                                Черновик
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex gap-3 justify-content-center">
                                {% if request.state is same as request.STATE_DONE %}
                                    &mdash;
                                {% else %}
                                    <a href="{{ path('mfc_next', {'id': request.id}) }}" class="text-decoration-none text-reset" title="Продолжить">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a href="{{ path('mfc_request_remove_template', {'id': request.id}) }}"
                                       class="text-decoration-none text-danger" title="Удалить"
                                       onclick="if (!confirm('Вы уверены, что хотите удалить черновик?')) event.preventDefault();">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100" class="text-center">
                            Вы еще не подали ни одной заявки ):
                            <div>
                                <a href="{{ path('mfc') }}" class="text-reset text-decoration-underline">Подать заявку</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="status-actions">
                <a href="{{ path('dashboard') }}" class="btn-outline">
                    На главную страницу
                </a>
            </div>

        </div>

    </section>
{% endblock %}
