{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero hero-center">
        <div class="form-box form-wide">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="upload-wrapper">
                <label class="upload-box">
                    {{ form_widget(form.files) }}
                    <i class="bi bi-paperclip"></i>
                </label>
            </div>
            {{ form_errors(form.files) }}

            <div class="form-actions">
                <button type="button" class="btn-outline" onclick="mfcBack()">
                    Назад
                </button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <form method="post" action="{{ path('mfc_back', {id: req.id}) }}" id="mfc_back_form"></form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function mfcBack() {
            document.getElementById('mfc_back_form').submit();
        }
    </script>
{% endblock %}
